<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PSBRoutine"
        tools:targetApi="31">
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FriDay2nd"
            android:exported="false" />
        <activity
            android:name=".ThursDay2nd"
            android:exported="false" />
        <activity
            android:name=".WednesDay2nd"
            android:exported="false" />
        <activity
            android:name=".TuesDay2nd"
            android:exported="false" />
        <activity
            android:name=".Monday2nd"
            android:exported="false" />
        <activity
            android:name=".FriDay4th"
            android:exported="false" />
        <activity
            android:name=".ThursDay4th"
            android:exported="false" />
        <activity
            android:name=".WednesDay4th"
            android:exported="false" />
        <activity
            android:name=".TuesDay4th"
            android:exported="false" />
        <activity
            android:name=".Monday4th"
            android:exported="false" />
        <activity
            android:name=".FriDay6th"
            android:exported="false" />
        <activity
            android:name=".ThursDay6th"
            android:exported="false" />
        <activity
            android:name=".WednesDay6th"
            android:exported="false" />
        <activity
            android:name=".TuesDay6th"
            android:exported="false" />
        <activity
            android:name=".Monday6th"
            android:exported="false" />
        <activity
            android:name=".AboutUs"
            android:exported="false" />
        <activity
            android:name=".SixthSem"
            android:exported="false" />
        <activity
            android:name=".FourthSem"
            android:exported="false" />
        <activity
            android:name=".SecondSem"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>